# Ignore virtual environments under my pwd - /home/ayush/Documents/dataaug
my_env/

# Ignore dataset files
*.csv
*.tfrecord
*.h5
*.zip
*.tar
*.tar.gz
*.tar.bz2

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
